%p
  %table
    %tr
      %th
        Sender
      %th
        Receiver
      %th
        Subject
      %th
        Acual body
      %th
        Actions

    - @emails.each do |email|
      %tr
        %td
          = email.sender
        %td
          = email.receiver
        %td
          = email.subject
        %td
          = email.actual_body
        %td
          = link_to "Download as pdf", email_path(email, format: :pdf), 'data-no-turbolink': true

= link_to 'Back to home', root_path
